.header {
  background-color: #fff;
  box-shadow: 0 2px 12px color(shadow-gray);
  color: color(medium-blue);
  display: flex;
  font-size: 0.8em;
  font-weight: 600;
  height: 135px;
  justify-content: space-between;

  @media ($screen-md-up) {
    box-shadow: none;
    height: 70px;
    padding: 8px 50px 8px 35px;
  }

  a {
    color: color(medium-blue);
  }
}

.header__logo a {
  align-self: flex-end;
  margin-bottom: -44px;
}

.header__logo {
  left: 0;
  position: absolute;
  top: 0;
  transform: scale(0.75) translate(5%, 0);

  @media ($screen-md-up) {
    position: relative;
    transform: scale(1);
  }
}

.header__utility-nav--active {
  position: relative;

  &::before {
    background: image-url('squiggle.svg') no-repeat center;
    bottom: -7px;
    content: '';
    display: flex;
    height: 5px;
    justify-self: center;
    left: 23%;
    position: absolute;
    width: 50px;

    @media ($screen-md-up) {
      left: 36%;
    }
  }
}

.header__utility-nav {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 85px 0 0 0;
  text-transform: uppercase;
  width: 90%;

  @media ($screen-md-up) {
    margin: 0;
    padding: 60px 0 0 0;
    width: auto;
  }

  li {
    min-width: 90px;
    text-align: center;

    @media ($screen-md-up) {
      min-width: 170px;
    }

  }
}

.header__create {
  left: 0;
  position: absolute;
  top: 0;
  transform: translate(40vw, 60px);

  @media ($screen-md-up) {
    position: relative;
    transform: translate(0, -15px);
  }

  a {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;

    &::before {
      align-items: flex-end;
      background: #FCB92C;
      border-radius: 100px;
      content: '+';
      display: flex;
      font-size: 2.8em;
      justify-content: center;
      min-height: 80px;
      padding-bottom: 10px;
      position: absolute;
      top: 0;
      transform: translateY(-105px);
      width: 80px;
    }
  }
}

.header__create--fixed {
  left: 50%;
  position: fixed;
  top: 60px;
  transform: translate(-50%, -50%);
}

.header__create__text-vector {
  position: absolute;
  top: 0;
  transform: scale(0.9) translate(2px, -20px);
}

.header__create__text--hidden {
  @include screenreader
}

li.header__session-links {
  min-width: 100px;
  text-transform: none;
}

.header__username {
  position: absolute;
  right: 0;
  text-transform: none;
  top: 0;
  transform: translate(-10%, 20px);
  width: 120px;

  @media ($screen-md-up) {
    position: relative;
    transform: translate(0, 0);
  }
}

.header__username__arrow {
  border: 6px solid transparent;
  border-top: 7px solid;
  position: absolute;
  right: 16px;
  top: 4px;
}
