.header {
  background-color: #fff;
  box-shadow: 0 2px 12px color(shadow-gray);
  color: color(medium-blue);
  display: flex;
  font-size: 0.8em;
  font-weight: 600;
  justify-content: space-between;
  left: 50%;
  max-width: 1200px;
  padding-bottom: 15px;
  position: fixed;
  top: 0;
  transform: translate(-50%, 0);
  width: 100%;
  z-index: 50;

  @media ($screen-md-up) {
    box-shadow: none;
    height: 80px;
    padding: 8px 50px 8px 35px;
    width: 95%;
  }

  a {
    color: color(medium-blue);
  }
}

.header__logo a {
  align-self: flex-end;
  margin-bottom: -44px;
}

.header__logo {
  left: 0;
  position: absolute;
  top: 0;
  transform: scale(0.8) translate(5%, 0);

  @media ($screen-sm-up) {
    transform: scale(0.9) translate(5%, 0);
  }

  @media ($screen-md-up) {
    position: relative;
    transform: scale(1);
  }
}

.header__utility-nav--active {
  position: relative;

  &::before {
    background: image-url('squiggle.svg') no-repeat center;
    bottom: -7px;
    content: '';
    display: flex;
    height: 5px;
    justify-self: center;
    left: 23%;
    position: absolute;
    width: 50px;

    @media ($screen-md-up) {
      left: 36%;
    }
  }
}

.header__utility-nav {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 100px 0 0 0;
  text-transform: uppercase;
  width: 90%;

  @media ($screen-md-up) {
    margin: 0;
    padding: 25px 0 0 0;
    width: auto;
  }

  li {
    min-width: 90px;
    text-align: center;

    @media ($screen-md-up) {
      min-width: 170px;
    }

  }
}

.header__create {
  left: 0;
  position: absolute;
  top: 0;
  transform: translate(40vw, 60px);

  @media ($screen-md-up) {
    position: relative;
    transform: none;
  }

  a {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;

    &::before {
      background: #FCB92C;
      border-radius: 100px;
      content: '';
      min-height: 80px;
      padding-bottom: 10px;
      position: absolute;
      top: 0;
      transform: translateY(-105px);
      transition: transform 1s;
      width: 80px;
    }

    &::after {
      content: '+';
      font-size: 2.8em;
      position: absolute;
      transform-origin: 50% 55%;
      transform: translateY(-40px) rotate(0deg);
      transition: transform 1s ease-in;
    }

    &:hover {

      &::before {
        transform: translateY(-105px) scale(1.04);
        transition: transform 1s;
      }

      &::after {
        transform: translateY(-40px) rotate(330deg);
        transition: transform 1s;
      }
    }
  }
}

.header__create--fixed {
  left: 50%;
  position: fixed;
  top: 60px;
  transform: translate(-50%, -50%);
}

.header__create__text-vector {
  position: absolute;
  top: 0;
  transform: scale(0.9) translate(2px, -20px);
}

.header__create__text--hidden {
  @include screenreader
}

li.header__session-links {
  font-weight: 500;
  min-width: 100px;
  position: absolute;
  right: 0;
  text-transform: none;
  top: 0;

  @media ($screen-md-up) {
    position: relative;
    transform: none;
  }
}

.header__sign-up {
  transform: translate(-40px, 25px);

  @media ($screen-xs-up) {
    transform: translate(-80px, 25px);
  }
}

.header__log-in {
  transform: translate(15px, 25px);
}

.header__username {
  position: absolute;
  right: 0;
  text-transform: none;
  top: 0;
  transform: translate(-10%, 20px);
  width: 120px;

  @media ($screen-md-up) {
    position: relative;
    transform: translate(0, 0);
  }
}

.header__username__arrow {
  position: relative;

  &:after {
    border: 6px solid transparent;
    border-top: 7px solid;
    content: '';
    position: absolute;
    right: -20px;
    top: 4px;
  }
}

.header__dropdown {
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 10px color(shadow-gray);
  color: color(gray);
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  font-weight: 400;
  height: 80px;
  justify-content: flex-start;
  padding: 15px 5px 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-85%, 75px);
  width: 85vw;

  @media ($screen-xs-up) {
    transform: translate(-92%, 75px);
  }

  @media ($screen-xs-up) {
    left: -50px;
    top: 30px;
    transform: none;
    width: 150px;
  }

  @media ($screen-md-up) {
    left: 0;
  }
}

li.header__dropdown__item {
  height: 50px;
  margin: 0 15px;
  min-width: 90px;
  text-align: right;

  @media ($screen-xs-up) {
    align-self: flex-start;
    text-align: left;
  }

  a {
    color: color(gray);
  }
}
