.header {
  background-color: #fff;
  color: color(medium-blue);
  display: flex;
  font-size: 0.8em;
  font-weight: 600;
  height: 69px;
  justify-content: space-between;
  padding: 8px 50px 8px 35px;

  a {
    color: color(medium-blue);
  }
}

.header__logo a {
  align-self: flex-end;
  margin-bottom: -44px;
}

.header__utility-nav--active {
  position: relative;

  &::before {
    background: image-url('squiggle.svg') no-repeat center;
    bottom: -7px;
    content: '';
    display: flex;
    height: 5px;
    justify-self: center;
    left: 36%;
    position: absolute;
    width: 50px;
  }
}

.header__utility-nav {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
  text-transform: uppercase;

  li {
    min-width: 170px;
    text-align: center;
  }
}

.header__create {
  position: relative;

  a {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;

    &::before {
      align-items: flex-end;
      background: #FCB92C;
      border-radius: 100px;
      content: '+';
      display: flex;
      font-size: 2.8em;
      justify-content: center;
      min-height: 80px;
      padding-bottom: 10px;
      position: absolute;
      top: 0;
      transform: translateY(-105px);
      width: 80px;
    }
  }
}

.header__create--fixed {
  left: 50%;
  position: fixed;
  top: 60px;
  transform: translate(-50%, -50%);
}

.header__create__text-vector {
  position: absolute;
  top: 0;
  transform: scale(0.9) translate(2px, -20px);
}

.header__create__text--hidden {
  @include screenreader
}

li.header__session-links {
  min-width: 100px;
  text-transform: none;
}

.header__username {
  position: relative;
  text-transform: none;
}

.header__username__arrow {
  border: 6px solid transparent;
  border-top: 7px solid;
  position: absolute;
  right: 16px;
  top: 4px;
}
