<dialog hidden class="modal forgot-password" id="forgot-password">
  <div class="modal__inner">
    <div class="modal__top">
      <h2 class="modal__title">Password Reset</h2>
      <button href="#TODO" class="modal__cancel" data-module="modal" aria-controls="forgot-password">Cancel<i class="icon-expired"></i></button>
    </div>

    <%= form_for(User.new, as: :user, url: password_path(:user) , html: { method: :put }) do |f| %>

      <div class="form__fields__field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="form__fields__action">
        <%= f.submit "Send password reset instructions", class: "form__button" %>
      </div>
    <% end %>
  </div>
</dialog>









