<header class="header">
  <a href="/" class="header__logo">
    <%= inline_svg "logo.svg", class: 'header__logo' %>
  </a>
  <ul class="header__utility-nav">
    <% if user_signed_in? %>
      <li class="header__feed"><a href="#TODO">Feed</a></li>
    <% end %>
    <% if user_signed_in? %>
      <li class="header__create" data-module="modal" aria-controls="create-modal">
    <% else %>
      <li class="header__create header__create--fixed" data-module="modal" aria-controls="sign-up">
    <% end %>
      <a href="#">
        <span class="header__create__text--hidden">Create a Poll</span>
        <%= inline_svg "create_poll.svg" %>
      </a>
    </li>
    <% if user_signed_in? %>
      <li class="header__your-polls header__utility-nav--active">
        <a href="#TODO">My Polls</a>
      </li>
      <li class="header__following">
        <a href="#TODO">Following</a>
      </li>
      <li class="header__username">
        <a href="#" data-module="modal" aria-controls="header__dropdown"><%= current_user.username %>
        <span class="header__username__arrow"></span></a>
        <ul class="header__dropdown modal" id="header__dropdown" hidden>
          <li class="header__dropdown__item">
            <a href="#" data-module="modal" aria-controls="forgot-password">
             reset password
            </a>
          </li>
          <li class="header__dropdown__item">
            <%= link_to "log out", destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      </li>
    <% else %>
      <li class="header__sign-up header__session-links">
        <a href="#" data-module="modal" aria-controls="sign-up">
          Sign up
        </a>
      </li>
      <li class="header__log-in header__session-links">
        <a href="#" data-module="modal" aria-controls="log-in">
          Log in
        </a>
      </li>
    <% end %>
  </ul>
</header>

