<article class="no-polls container">
  <h1>It's a little empty.</h1>
  <%= inline_svg "no-polls.svg", class: "no-polls__svg" %>

  <% if params[:filter] == 'mypolls' %>
    <p>There aren't any polls here yet.</p>
    <a href="#" data-module="modal" aria-controls="create-modal">Create one now!</a>
  <% else %>
    <p>There aren't any polls here yet.</p>
    <a href="/">See newest polls.</a>
  <% end %>
</article>

