<article class="poll">
  <div class="poll__meta">
    <p class="poll__meta-username">vigetRocks1999</p>
    <ul>
      <li class="poll__meta-votes">11 votes</li>
      <li class="poll__meta-active">active</li>
    </ul>
  </div>

  <div class="poll__content">
    <h2 class="">What movie should I see tonight?</h2>
    <div class="poll__options">
      <div class="poll__options-1">
      </div>
      <div class="poll__options-2">
      </div>
    </div>
    <ul class="poll__actions">
      <li class="poll__actions-comments"><a href="#TODO">6 comments</a></li>
      <li class="poll__actions-follow"><a href="#TODO">follow</a></li>
      <li class="poll__actions-link"><a href="#TODO">copy link</a></li>
    </ul>
  </div>
</article>
