<ul class="feed-filter">
  <!-- logic for Aatif
  if currently viewing popular, then give popular the toggled class
  else give most-recent the toggled class -->
  <li class="feed-filter__popular feed-filter__item--toggled">Popular</li>
  <li class="feed-filter__most-recent">Most Recent</li>
</ul>
