<ul class="feed-filter">
  <li id="poll-popular" class="feed-filter__popular feed-filter__item--toggled"><%= link_to 'Popular', polls_path(feed: 'popular') %></li>
  <li id="poll-recent" class="feed-filter__most-recent"><%= link_to 'Most Recent', polls_path %></li>
</ul>