<% if @polls.empty? %>
   <%= render partial: 'shared/no-polls' %>
<% else %>
  <div class="polls__wrapper">
    <%= render partial: 'shared/poll', collection: @polls %>
  </div>
  <% if !params[:filter] || params[:filter]&.empty? %>
    <%= render partial: 'shared/popular-recent' %>
  <% end %>
<% end %>
