$icons: (
  fire,
  comment,
  follow,
  link,
  expired,
  upload,
  clock
);

@mixin icons {
  @each $name in $icons {
    &-#{$name} {
      background: image-url('#{$name}-icon.svg') no-repeat center;
      content: '';
      height: 25px;
      width: 26px;
    }
  }
}

.icon {
  @include icons;
}
