// Colors

$colors: (
 light-blue: #61b7f2,
 dark-blue: #144b71,
 medium-blue: #005b9a,
 yellow: #fcb92c,
 gray: #3d3e44,
 shadow-gray: #bdbdbd,
 form-gray: #f2f2f2,
 white: #ffffff
);

$sans-serif: 'niveau grotesk', sans-serif;
