.comments {
  margin: 20px auto 200px;
  max-width: 700px;
  width: 85vw;

  @media ($screen-md-up) {
    max-width: 700px;
    width: 100%;
  }
}

.comments__comment {
  border-bottom: solid 1px color(comments-gray);
  display: flex;
  justify-content: space-between;
}

.comments__comment__username {
  font-weight: 500;
  width: 30%;
}

.comments__comment__text {
  text-align: left;
  width: 70%;
}

.comments__new-comment {
  align-items: center;
  display: flex;
  justify-content: space-between;

  input {
    background-color: color(form-gray);
    border: solid 1px color(shadow-gray);
    border-radius: 5px;
    box-shadow: inset;
    color: color(gray);
    height: 25px;
    padding-left: 10px;
    width: 68%;
  }
}

.comments__submit {
  background: #f2f2f2;
  border-radius: 999px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  color: #005b9a;
  font-family: $sans-serif;
  font-size: 1em;
  font-weight: 500;
  margin: 10px 0 0 28%;
  padding: 5px 30px;
  text-align: center;

  @media ($screen-xs-up) {
    margin: 10px 0 0 30%;
  }
}
