.create-modal {
  border-radius: 0;
  padding: 40px 10px 20px;
  position: absolute;
  top: 610px;
  width: 92vw;

  @media ($screen-sm-up) {
    border-radius: 10px;
    margin-bottom: 100px;
    max-width: 1000px;
    padding: 20px 60px;
    width: 75%;
  }

  h3 {
    font-weight: 400;
    margin-top: 40px;
  }

  h4 {
    color: color(white);
  }

  form {
    display: flex;
    flex-direction: column;
  }

  input {
    background: color(form-gray);
    border: solid 1px color(shadow-gray);
    border-radius: 2px;
    color: color(gray);
    font-family: $sans-serif;
    font-size: 0.9em;
    height: 25px;
    padding-left: 10px;
    width: 75%;
  }
}

.create-modal .modal__title {
  font-size: 2em;
  text-transform: none;

  @media ($screen-sm-up) {
    font-size: 3em;
  }
}

.create-modal__subtitle {
  font-size: 1em;
  margin: 0;

  @media ($screen-sm-up) {
    font-size: 1.3em;
  }
}

.create-modal__fields__photos {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media ($screen-sm-up) {
    flex-direction: row;
  }

  label {
    background: color(form-gray);
    border-radius: 999px;
    box-shadow: 0 2px 3px rgba(#000, 0.15);
    color: color(dark-blue);
    height: 40px;
    padding: 4px 25px;
    width: 100px;
    &:hover {
      cursor: pointer;
    }
  }
}

.create-modal__fields__photo {
    border-radius: 5px;
    height: 200px;
    margin-top: 20px;
    padding: 20px 15px 50px;
    position: relative;
    width: 90%;

    @media ($screen-sm-up) {
      margin-top: 0;
      width: 45%;
    }

    &--left {
      background: color(light-blue);
    }

    &--right {
      background: color(yellow);
    }

    h4 {
      align-items: center;
      display: flex;
    }
}

.photo--left__preview {
  color: color(white);
  font-style: italic;
  font-weight: 100;
  left: 45%;
  position: absolute;
  top: 26%;

  @media ($screen-sm-up) {
    left: 34%;
  }
}

.photo--right__preview {
  color: color(white);
  font-style: italic;
  font-weight: 100;
  left: 45%;
  position: absolute;
  top: 26%;

  @media ($screen-sm-up) {
    left: 34%;
  }
}

.create-modal__OR {
  color: color(white);
  font-size: 2em;
  margin: 20px 0 10px;
}

.icon-upload {
  display: inline-block;
}

.create-modal__fields__photo__browse {
  display: none;
}

.create-modal__fields__option-labels {
  display: flex;
  justify-content: space-around;
}

.create-modal__fields__option-label {
  width: 50%;
}

.create-modal__fields__option-label--right {
  margin-left: 27px;
}

.create-modal__fields__duration {
  display: flex;
  flex-direction: row;
  input {
    margin-right: 10px;
    width: 30px;
  }
  label {
    font-style: italic;
    font-weight: 100;
  }
}

.create-modal__fields__duration__input {
  display: flex;
  flex-direction: column;
}

input.create-modal__submit {
  border-radius: 999px;
  box-shadow: 0 2px 4px rgba(#000, 0.15);
  color: color(dark-blue);
  font-weight: 500;
  height: 40px;
  justify-self: center;
  margin: 30px auto;
  text-transform: uppercase;
  width: 195px;

  &:hover {
    cursor: pointer;
    font-weight: 600;
  }
}
