.forgot-password {
  padding: 30px 0 50px;

  .modal__top {
    margin-bottom: 50px;
  }

  .modal__title {
    font-size: 2em;
  }

  .form__fields__field input {
    width: 250px;
  }

  .form__button {
    width: 250px;
  }

  .form__fields__action {
    padding-left: 280px;
  }
}
