.modal {
  background: color(white);
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(#000, 0.5);
  display: block;
  left: 50%;
  margin: auto;
  padding: 20px 0 0;
  position: fixed;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 90vw;

  @media ($screen-sm-up) {
    width: 620px;
  }
}

.modal button {
  background: none;
  border: none;
  font-family: $sans-serif;
  font-size: 1em;
  font-weight: 400;

  &:hover {
    cursor: pointer;
  }
}

.create-modal .modal__cancel {
  position: absolute;
  right: 3%;
}

.modal__inner {
  margin: auto;
  width: 87%;
}

.modal__top {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.modal__title {
  font-size: 2.5em;
  margin: 0;
  text-transform: uppercase;

  @media ($screen-sm-up) {
    font-size: 3.4em;
  }
}

.modal__cancel {
  align-items: center;
  align-self: flex-start;
  display: flex;
}

.body__main {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 80px;
  opacity: 1;
  overflow: hidden;
  transition: opacity 0.5s;

  @media ($screen-sm-up) {
    flex-direction: row;
    margin-top: 50px;
  }
}

.body__main--muted {
  height: 90vh;
  opacity: 0.2;
  overflow: hidden;
  transition: opacity 0.5s;
}
