.forgot-password {
  padding: 30px 0 50px;

  .modal__top {
    margin-bottom: 50px;
  }

  .modal__title {
    font-size: 2em;
  }

  .form__fields__field input {
    width: 250px;
  }

  .form__button {
    width: 250px;
  }

  .form__fields__action {
    padding-left: 280px;
  }

  &__button {
    bottom: 25%;
    left: 10%;
    position: absolute;
  }
}

.reset-password {
  margin-top: 100px;

  .form__fields__field {
    margin-bottom: 50px;
    position: relative;

    div {
      font-style: italic;
      position: absolute;
      right: 0;
      text-transform: none;
      top: 20px;
    }

    input {
      width: 130px;

      @media ($screen-md-up) {
        width: 300px;
      }
    }
  }

  .form__fields__action {
    padding-left: 0;
    text-align: right;
  }

  .form__button {
    width: 220px;
  }
}
