.poll-detailed {
  flex-direction: column;
  height: initial;
  justify-content: space-around;
  margin-top: 250px;
  z-index: 0;

  @media ($screen-md-up) {
    margin-top: 100px;
  }

  .poll__meta {
    align-items: center;
    flex-direction: row;
    height: 30px;
    justify-content: flex-start;
    margin-bottom: 20px;

    &:before,
    &:after {
      content: none;
    }

    ul {
      align-items: center;
      flex-direction: row;
      margin: 0;

      li {
        margin-left: 30px;
      }
    }
  }

  .poll__content {

    h2 {
      left: 10px;
      margin: 0;
      position: absolute;
      top: -70px;

      @media ($screen-md-up) {
        position: static;
      }
    }
  }

  .poll__options {
    height: 150px;
    margin-top: 20px;
    width: 85vw;

    @media ($screen-md-up) {
      height: 250px;
      margin-top: 0;
      width: 60vw;
    }

  }

  .poll__options__option {
    margin-left: 10px;

    &:first-child {
      border-radius: 200px;
    }
  }

  .poll__actions {
    margin: 75px 0 -30px 5%;
    max-width: 600px;

    &::before {
      border-radius: 0;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      height: 45px;
      top: -10px;
      width: 110%;
    }
  }
}
