.poll {
  align-items: center;
  display: flex;
  height: 300px;
  justify-content: space-around;
  margin: 15px auto;
  max-width: 900px;
  width: 70%;
}

.poll__meta {
  align-items: center;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;

  p {
    margin-top: 0;
  }

  ul {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 76px;
    min-width: 110px;
    padding: 0;
  }

  li {
    align-items: center;
    display: flex;
  }

  span {
    margin-left: 5px;
  }
}

.poll__meta:after {
  background: color(extra-light-blue);
  border-radius: 999px;
  content: '';
  height: 300px;
  left: -50px;
  position: absolute;
  top: -25px;
  width: 120px;
  z-index: -1;
}

.poll__meta:before {
  border-radius:50%;
  border: 2px solid color(extra-light-yellow);
  content: '';
  height: 30px;
  left: -56px;
  position: absolute;
  top: -15px;
  width: 30px;
}

.poll__options {
  display: flex;
  height: 225px;
  width: 600px;
}

.poll__options__option {
  align-items: center;
  color: color(white);
  display: flex;
  font-size: 3em;
  font-weight: 500;
  justify-content: center;
}

.poll__options__option-1 {
  background-color: #61B7F2;
  box-shadow: 0 2px 6px rgba(#000, 0.25);
  margin-right: 10px;
  transition: 1s ease-in-out;
  width: 50%;
}

.poll__options__option-2 {
  background-color: #FCB92C;
  box-shadow: 0 2px 6px rgba(#000, 0.25);
  transition: 1s ease-in-out;
  width: 50%;
}

.poll__actions {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  position: relative;
  width: 75%;

  li {
    display: flex;
    align-items: center;

    a {
      align-items: center;
      display: flex;
      justify-content: space-around;

      span {
        margin-left: 10px;
      }
    }
  }
}

.poll__actions:before {
  background: color(extra-light-gray);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  content: '';
  height: 150px;
  left: -20px;
  position: absolute;
  top: -100px;
  width: 500px;
  z-index: -1;
}

.poll__actions__comments {
  a {
    text-decoration: underline;
  }
}
