.poll {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
  margin: 125px auto;
  max-width: 900px;
  position: relative;
  width: 90%;

  @media ($screen-md-up) {
    flex-direction: row;
    margin: 100px auto;
    width: 70%;
  }
}

.poll__meta {
  align-items: center;
  align-self: flex-start;
  display: flex;
  left: 0;
  position: absolute;
  top: -35px;
  width: 80vw;

  @media ($screen-md-up) {
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: relative;
    top: 0;
    width: initial;
  }

  @media ($screen-lg-up) {
    left: 40px;
  }

  p {
    margin-left: 12px;

    @media ($screen-md-up) {
      margin: 0 0 0 -35px;
    }
  }

  ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    min-height: 76px;
    padding: 0;
    min-width: 200px;

    @media ($screen-md-up) {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  li {
    align-items: center;
    display: flex;
  }

  span {
    margin-left: 2px;

    @media ($screen-sm-up) {
      margin-left: 5px;
    }
  }
}

.poll__meta:after {
  background: color(extra-light-blue);
  border-radius: 999px;
  content: '';
  height: 300px;
  left: -15px;
  position: absolute;
  top: -5px;
  width: 130px;
  z-index: -1;

  @media ($screen-md-up) {
    left: -40px;
    top: -25px;
    width: 120px;
  }

  @media ($screen-lg-up) {
    left: -20px;
  }
}

.poll__meta:before {

  @media ($screen-md-up) {
    border-radius:50%;
    border: 2px solid color(extra-light-yellow);
    content: '';
    height: 30px;
    left: -50px;
    position: absolute;
    top: -5px;
    width: 30px;
  }

  @media ($screen-lg-up) {
    left: -30px;
  }
}

.poll__options {
  display: flex;
  height: 225px;
  width: 100vw;

  @media ($screen-md-up) {
    width: 600px;
  }
}

.poll__options__option {
  align-items: center;
  color: color(white);
  display: flex;
  font-size: 2em;
  font-weight: 500;
  justify-content: center;
  text-align: center;

  @media ($screen-md-up) {
    font-size: 2.5em;
    padding: 20px;
  }

  &:first-child {
    background-color: color(light-blue);
    box-shadow: 0 2px 6px rgba(#000, 0.25);
    width: 50%;

    @media ($screen-sm-up) {
      margin-right: 10px;
    }
  }

  &:last-child {
    background-color: color(yellow);
    box-shadow: 0 2px 6px rgba(#000, 0.25);
    width: 50%;
  }
}

.poll__actions {
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
  padding-left: 0;
  position: relative;
  width: 93%;

  @media ($screen-md-up) {
    margin: 15px 0;
    width: 75%;
  }

  li {
    display: flex;
    align-items: center;

    a {
      align-items: center;
      display: flex;
      justify-content: space-around;

      span {
        margin-left: 5px;

        @media ($screen-md-up) {
          margin-left: 10px;
        }
      }
    }
  }
}

.poll__actions:before {
  background: color(extra-light-gray);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  content: '';
  height: 150px;
  left: -20px;
  position: absolute;
  top: -100px;
  width: 108%;
  z-index: -1;

  @media ($screen-xs-up) {
    left: -25px;
  }

  @media ($screen-lg-up) {
    width: 500px;
  }
}

.poll__actions__comments {
  a {
    text-decoration: underline;
  }
}

.poll__content h2 {
  font-weight: 400;
  margin: 0 38px 50px;

  @media ($screen-md-up) {
    margin: 20px 0;
  }
}
